name: terraform-ci

on:
  pull_request:
    branches:
      - main

permissions:
  id-token: write
  contents: read
  issues: write
  pull-requests: write

jobs:
  terraform-ci:
    uses: mmccarthy404/reusable-workflows/.github/workflows/terraform-ci.yaml@main
    with:
      terraform-version: 1.5.0
      terraform-directory: .
      terraform-var-file: terraform.tfvars
      terraform-backend-config: backend.tfvars
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}